@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-form-item {
  width: 337px;
}
.ant-form {
  background-color: #eee;
  padding: 0 50px;
}

.ant-row {
  margin: 5px;
}

.ant-form-inline {
  background-color: #eee;
  padding: 0 50px;
  justify-content: space-between;
}

.ant-table table {
  border: 3px solid #797979;
  /* margin-top: 25px; */
}

#filters {
  flex-wrap: nowrap;
}

button {
  margin-bottom: 15px;
  width: 130px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
